Figure/ArizonaMagnetics.png filter=lfs diff=lfs merge=lfs -text
Figure/1-s2.0-S0098300420306531-gr3_lrg.jpg filter=lfs diff=lfs merge=lfs -text
Figure/Weihermann2021.jpg filter=lfs diff=lfs merge=lfs -text
Doc/example-4.png filter=lfs diff=lfs merge=lfs -text
Doc/example-5.png filter=lfs diff=lfs merge=lfs -text
Doc/example-7.png filter=lfs diff=lfs merge=lfs -text
Doc/example-8.png filter=lfs diff=lfs merge=lfs -text
Doc/example-10.png filter=lfs diff=lfs merge=lfs -text
Doc/example-2.png filter=lfs diff=lfs merge=lfs -text
Doc/example-3.png filter=lfs diff=lfs merge=lfs -text
Doc/example-6.png filter=lfs diff=lfs merge=lfs -text
Doc/example-9.png filter=lfs diff=lfs merge=lfs -text
Doc/example-0.png filter=lfs diff=lfs merge=lfs -text
Doc/example-1.png filter=lfs diff=lfs merge=lfs -text
Logo/cgem-logo-dark.png filter=lfs diff=lfs merge=lfs -text
Logo/cgem-logo-light.png filter=lfs diff=lfs merge=lfs -text
Logo/cgem-logo-original.png filter=lfs diff=lfs merge=lfs -text
Logo/mines-2018.png filter=lfs diff=lfs merge=lfs -text
Logo/mines-logo-dark.png filter=lfs diff=lfs merge=lfs -text
Logo/mines-logo-light.png filter=lfs diff=lfs merge=lfs -text
